[submodule "app/Plugin/Elastic"]
	path = app/Plugin/Elastic
	url = git://github.com/dkullmann/CakePHP-Elastic-Search-DataSource.git
[submodule "phppgadmin-heroku"]
	path = phppgadmin-heroku
	url = git://github.com/yandod/phppgadmin-heroku.git
