@charset "utf-8";

.hero-unit {
	font-size: 16px;
	padding: 25px;
}
.hero-unit h1 {
	font-size: 22px;
}
.lead {
	font-size: 14px;
}

.btn-large {
	font-size: 16px;
}

dd {
	margin: 0 0 0 20px;
}

#cadidate_add_section {
	list-style: none;
}
#cadidate_add_section select {
	width: 120px;
	margin-right: 5px;
}
#cadidate_add_section select.time {
	width: 80px;
}

.submit {
	margin-top: 20px;
}

/*　スケジュールの参照 */
#schedule_scrollable_section {
	overflow-x: auto;
}

/* 予定の登録 */
#answer_add_section .answer_select {
	width: 50px;
}